<div ng-controller="EditRoaster as vm">

  <div class="headSpace">
  <h1 style="color:white;">Please edit {{vm.roaster.name}} below:</h1>
  </div>

  <form ng-submit="vm.updateRoaster(vm.editRoaster)" style="margin-left:100px">

    <div layout="row">

      <div flex="50">
        <md-input-container layout-padding class="inputBack">
          <label class="inputs">Logo Image URL...</label>
          <input ng-model="vm.editRoaster.logo" placeholder="{{vm.roaster.logo}}" class="inputs" />
        </md-input-container>
        <br>
        <br>
        <md-input-container layout-padding class="inputBack">
          <label class="inputs">Location...</label>
          <input required ng-model="vm.editRoaster.location" placeholder="{{vm.roaster.location}}" class="inputs"/>
        </md-input-container>
      </div>

      <div flex="50" >
       <md-input-container layout-padding class="inputBack">
         <label class="inputs">Roaster Name...</label>
         <input required ng-model="vm.editRoaster.name" placeholder="{{vm.roaster.name}}" class="inputs"/>
       </md-input-container>
     </div>
    </div>
       <div layout="row">
         <md-button type="submit" class="md-raised">Edit Roaster</md-button>
         <md-button type="button" class="md-raised" ui-sref="Home">Cancel</md-button>
       </div>

   </form>

</div>
