<!DOCTYPE html>
<html ng-app="app">
<head>

	<title>Coffee Review</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
	<link rel="stylesheet" href="/angular-material/angular-material.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">

</head>
<body ng-controller="GlobalController as nav" class="navHead">



	<!-- Fab Button -->
	<div class="lock-size fab" layout="row" layout-align="left">
      <md-fab-speed-dial md-open="nav.isOpen" md-direction="{{nav.selectedDirection}}" ng-class="nav.selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <i class="zmdi zmdi-view-list zmdi-hc-lg"></i>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="label" style="background-color:#FF9933; color: grey" class="md-fab md-raised md-mini">1</md-button>
          <md-button aria-label="label" style="background-color:#ffff8d; color: grey" class="md-fab md-raised md-mini">2</md-button>
          <md-button aria-label="label" style="background-color:#b9f6ca; color: grey" class="md-fab md-raised md-mini">3</md-button>
					<md-button ng-click="nav.toggleRight()" style="background-color:#80d8ff; color: white" class="md-fab md-raised md-mini">L/R</md-button>
					<md-button aria-label="label" style="background-color:#8c9eff; color: white" class="md-fab md-raised md-mini">3</md-button>
				</md-fab-actions>
      </md-fab-speed-dial>
    </div>


<!-- UI VIEW -->
	<ui-view></ui-view>


<!-- SideNav -->
							<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
					            <md-toolbar style="background-color: white; padding : 10px" class="md-theme-light">
					              <h1 style="color : rgb(244,67,54)" class="md-toolbar-tools" >Login/Register</h1>
					            </md-toolbar>
					          <md-content  layout-padding style="background-color: rgb(244,67,54); color : white; height: 100%">

											<!-- Login -->
										<div ng-show="nav.isLogin">
										  <form class="regLog" ng-submit="nav.login()">
										    <md-input-container>
										      <label>Username</label>
										      <input class="form-control"  ng-model="nav.user.username">
										    </md-input-container>
										      <md-input-container>
										      <label>Password</label>
										      <input type="password" class="form-control" ng-model="nav.user.password">
										    </md-input-container>
										      <div style="text-align:center">
										        <md-button type="submit" class="md-raised" >Login</md-button>
										        <md-button type="button" class="md-raised" ng-click="nav.isLogin = false;" class="btn btn-primary">Go To Register</md-button>
														<md-button ng-click="nav.close()" class="md-raised">Close</md-button>
													</div>
										  </form>
										</div>

										<!-- Show the Register Form -->
										<div ng-show="!nav.isLogin">
										  <form class="regLog" ng-submit="nav.register()">
										    <md-input-container>
										      <label>Username</label>
										      <input class="form-control" ng-model="nav.user.username">
										    </md-input-container>
										      <md-input-container>
										      <label>Email</label>
										      <input type="email" class="form-control" ng-model="nav.user.email">
										    </md-input-container>
										    <md-input-container>
										      <label>Password</label>
										      <input type="password" class="form-control" ng-model="nav.user.password">
										    </md-input-container>
										      <div style="text-align:center">
										          <md-button type="submit" class="md-raised">Save Registeration</md-button>
										        <!-- <md-button type="button" ng-click="nav.isLogin = true;" class="btn btn-primary">Cancel</md-button> -->
														<md-button ng-click="nav.close()" class="md-raised" >Close</md-button>
										      </div>
										  </form>
										</div>
									</md-content>
								</md-sidenav>







	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Material -->
	<script src="/angular-material/angular-material.min.js"></script>
	<script src="/angular-aria/angular-aria.min.js"></script>
	<script src="/angular-animate/angular-animate.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/UserFactory.js"></script>
	<script src="/javascript/services/ReviewFactory.js"></script>
	<script src="/javascript/services/RoasterFactory.js"></script>
	<script src="/javascript/services/CoffeeFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/AddCoffee.js"></script>
	<script src="/javascript/controllers/AddRoaster.js"></script>
	<script src="/javascript/controllers/EditCoffee.js"></script>
	<script src="/javascript/controllers/EditRoaster.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/ViewCoffee.js"></script>
	<script src="/javascript/controllers/ViewRoaster.js"></script>
	<script src="/javascript/controllers/ViewRoasterCoffees.js"></script>
	<script src="/javascript/controllers/Profile.js"></script>


</body>
</html>
