<!DOCTYPE html>
<html ng-app="app">
<head>

	<title>Coffee Review</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
	<link rel="stylesheet" href="/angular-material/angular-material.css" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/flexslider/flexslider.css"> -->

</head>
<body ng-controller="GlobalController as nav" >

<div class="abDiv navHead" style="height: 100%">

	<!-- Fab Button -->
	<div class="lock-size fab fab1" layout="row" layout-align="left">
      <md-fab-speed-dial md-open="nav.isOpen" md-direction="{{nav.selectedDirection}}" ng-class="nav.selectedMode">
        <md-fab-trigger class="triggerSize">
          <md-button aria-label="menu" class="md-fab md-warn buttonSize">
            <i class="zmdi zmdi-coffee zmdi-hc-4x" style="padding-top:17px"></i>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button ng-click="nav.toggleRight()" aria-label="label" style="background-color:#FF9933;" class="lightB md-fab md-raised md-mini">L/R</md-button>
          <md-button ng-click="nav.viewRoaster()" aria-label="label" style="background-color:#ffff8d;" class="lightB md-fab md-raised md-mini"><span class="custom">View Roaster</span></md-button>
          <md-button aria-label="label" style="background-color:#b9f6ca;" class="lightB md-fab md-raised md-mini">View Coffee</md-button>
					<md-button style="background-color:#80d8ff;" class="darkB md-fab md-raised md-mini">1</md-button>
					<md-button ng-click="nav.viewSplash()" aria-label="label" style="background-color:#8c9eff;" class="darkB md-fab md-raised md-mini">Splash</md-button>
				</md-fab-actions>
      </md-fab-speed-dial>
    </div>

<!-- reglog FAB -->
		<div class="fab fab2" layout="row" layout-align="left">
				<md-fab-speed-dial md-open="nav.isOpenBottom" md-direction="{{nav.selectedDirectionBottom}}" ng-class="nav.selectedModeBottom">
					<md-fab-trigger>
						<md-button class="md-fab md-warn nameButton" ng-show='nav.status.username;'> {{nav.status.username}} </md-button>
					</md-fab-trigger>
					<md-fab-actions>
						<md-button ng-click="nav.goToAddRoaster()" aria-label="label" style="background-color:#FF9933;" class="lightB md-fab md-raised md-mini">Add Roaster</md-button>
						<md-button ng-click="nav.goToAddCoffee()" aria-label="label" style="background-color:#ffff8d;" class="lightB md-fab md-raised md-mini">Add Coffee</md-button>
						<md-button ng-click="nav.goToProfile()" aria-label="label" style="background-color:#b9f6ca;" class="lightB md-fab md-raised md-mini">Profile</md-button>
						<md-button aria-label="label" style="background-color:#8c9eff;" class="darkB md-fab md-raised md-mini" ng-click='nav.logout()'>Logout</md-button>
					</md-fab-actions>
				</md-fab-speed-dial>
			</div>


<!-- UI VIEW -->
	<ui-view></ui-view>


<!-- SideNav -->
							<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
					            <md-toolbar style="background-color: white; padding : 10px" class="md-theme-light">
					              <h1 style="color : rgb(244,67,54)" class="md-toolbar-tools" >Login/Register</h1>
					            </md-toolbar>
					          <md-content  layout-padding style="background-color: rgb(244,67,54); color : white; height: 100%">

											<!-- Login -->
										<div ng-show="nav.isLogin">
										  <form class="regLog" ng-submit="nav.login()">
										    <md-input-container>
										      <label>Username</label>
										      <input class="form-control"  ng-model="nav.user.username">
										    </md-input-container>
										      <md-input-container>
										      <label>Password</label>
										      <input type="password" class="form-control" ng-model="nav.user.password">
										    </md-input-container>
										      <div style="text-align:center">
										        <md-button type="submit" class="md-raised" >Login</md-button>
										        <md-button type="button" class="md-raised" ng-click="nav.isLogin = false;" class="btn btn-primary">Go To Register</md-button>
														<md-button ng-click="nav.close()" class="md-raised">Close</md-button>
													</div>
										  </form>
										</div>

										<!-- Show the Register Form -->
										<div ng-show="!nav.isLogin">
										  <form class="regLog" ng-submit="nav.register()">
										    <md-input-container>
										      <label>Username</label>
										      <input class="form-control" ng-model="nav.user.username">
										    </md-input-container>
										      <md-input-container>
										      <label>Email</label>
										      <input type="email" class="form-control" ng-model="nav.user.email">
										    </md-input-container>
										    <md-input-container>
										      <label>Password</label>
										      <input type="password" class="form-control" ng-model="nav.user.password">
										    </md-input-container>
										      <div style="text-align:center">
										          <md-button type="submit" class="md-raised">Save Registeration</md-button>
										        <!-- <md-button type="button" ng-click="nav.isLogin = true;" class="btn btn-primary">Cancel</md-button> -->
														<md-button ng-click="nav.close()" class="md-raised" >Close</md-button>
										      </div>
										  </form>
										</div>
									</md-content>
								</md-sidenav>







</div>

	<!-- flexslider -->
	<!-- <script src="/jquery/src/jquery.js"></script> -->
	<!-- <script src="/flexslider/jquery.flexslider.js"></script> -->
	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Material -->
	<script src="/angular-material/angular-material.min.js"></script>
	<script src="/angular-aria/angular-aria.min.js"></script>
	<script src="/angular-animate/angular-animate.min.js"></script>
	<!-- more flex -->
	<!-- <script src="/angular-flexslider/angular-flexslider.js"></script> -->
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/UserFactory.js"></script>
	<!-- <script src="/javascript/services/ReviewFactory.js"></script> -->
	<script src="/javascript/services/RoasterFactory.js"></script>
	<script src="/javascript/services/CoffeeFactory.js"></script>
	<script src="/javascript/services/AuthInterceptor.js"></script>

	<!-- Controllers -->
	<script src="/javascript/controllers/AddCoffee.js"></script>
	<script src="/javascript/controllers/AddRoaster.js"></script>
	<script src="/javascript/controllers/EditCoffee.js"></script>
	<script src="/javascript/controllers/EditRoaster.js"></script>
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/ViewCoffee.js"></script>
	<script src="/javascript/controllers/ViewRoaster.js"></script>
	<script src="/javascript/controllers/ViewRoasterCoffees.js"></script>
	<script src="/javascript/controllers/Profile.js"></script>


</body>
</html>
