.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.fab{
    /*display: inline-block;*/
    /*position: fixed;*/
    float: left;
  }

  .navHead{
    background-image: url("https://images.unsplash.com/photo-1414542158951-f32d326a4820?fit=crop&fm=jpg&h=700&ixlib=rb-0.3.5&q=80&w=1350");
    background-repeat: repeat-y;
    /*height: 100%
    width: 100%;
    position: absolute;*/

  }

  .regLog md-input-container label{
    color : white;
  }

  .regLog md-input-container input{
    color : white;
    border-color: white
  }

  .regLog md-button{
    color : white;
  }

  .fab md-fab-actions{
    color : white;
  }

.md-button.md-fab {
  /*margin: 10px 10px 10px 10px;*/
  line-height: 5.6rem !important;
  min-width: 0 !important;
  width: 85px !important;
  height: 85px !important;
  border-radius: 50% !important;
  /*word-wrap: break-word !important;*/
  /*white-space: pre-wrap;*/

}

.lightB{
  color: grey !important;
}

.darkB{
  color: white !important;
}

.custom{
  word-wrap: break-word !important;
}

.top h1{
  margin-top: 0px;
}

.inputBack{
  background: rgba(0, 0, 0, 0.58) !important;
  border-radius: 15px 15px 15px 15px;
  width:90%;

}

.inputs{
  color : white !important;
  border-color: white !important;
}

.headSpace{
  height: 100px;
}

.headSpace h1{
  color:white;
  padding-top: 28px;
  padding-left: 130px;
  font-weight: bold !important;
  font-size: 250%;
  margin-top: 0px;
}

md-select-menu md-content{
  opacity: 0 ;
  color: white !important;
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  box-shadow: none !important;
}

.md-select-value{
  color: white !important;
  border-color: white !important
  /*background: rgba(0, 0, 0, 0.58) !important;*/
}

.md-select-menu-container md-select-menu{
  box-shadow: none !important;
  padding-left: 17px;
}

md-sidenav{
  opacity: 0.75 ;
}

.fh{
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

/*.roasterTiles{
  background-color: rgba(0, 0, 0, 0.48);
  color: white;
}*/

md-grid-tile-footer figcaption{
  width: 100%;
}

md-grid-tile {
  border-radius: 25px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border: 1px solid #ddd;
  flex-grow: 1;
  width: 33.3333%;
  opacity: 0.8;
  padding-bottom: 10px;
}

.gridButton :hover{
  cursor: pointer;
  box-shadow: 2px 0px 2px 2px black;
  border-radius: 25px 25px 25px 25px;
}

#foot {
  background: rgba(0, 0, 0, 0.8);
  /*background: rgb(224, 224, 235);*/
  height: 30px;
  border-radius: 0px 0px 25px 25px;
}

.gridButton figure :hover{
  cursor: pointer;
  box-shadow: none;
  border-radius: none;
}

.fab2{
  position: fixed;
  bottom: 0;
  z-index: 998;
}

.fab1{
  position:fixed;
  z-index: 998;
}

.coffeeAtt{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50%;
}

.coffeeAttHead{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 70%;
  padding: 20px;
}


.coffeeTiles figure{
  display: inline !important;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  color: white;
}

.fab3{
  right: 0;
  top: 0;
  float:right;
  position: fixed;
  z-index: 998;
}

.editIcon{
  right: 0;
  top: 0;
  color: black;
  position: absolute !important;
  width: 50px !important;
}

/*.editIcon :hover{
  cursor: pointer;
  box-shadow: 2px 0px 2px 2px black;
  border-radius: 25px 25px 25px 25px;
}*/

.optBar{
  background: none;
  padding-top: 0;
  padding-bottom:0;
  opacity: 1;
  border: none !important;
  box-shadow: none !important;
  border-radius: 15px 15px 15px 15px !important;
}

.optBar .md-button span{
  background: none;
  font-weight: bolder !important;
  color: white;
}

.md-open-menu-container{
  box-shadow: none !important;
  border: none !important;
}

.selectSpanRating{
  height: 20px !important;
}
